body {
 background: #000;
 color: #6b6b6b;
}

#logo-area {
 height: 181px;
 margin: 20px 0 0 0;
}

.not-front .region-content {
 background: url("../images/background-light.jpg") repeat top left;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 padding: 20px;
}

.not-front h1.title {
  font-family: 'AngelinaRegular';
  font-size: 3em;
  color: #9E1111;
}

h2 {
 font-family: 'AngelinaRegular';
 font-size: 2.2em;
}

img {
 background: #FFFFFF;
 border: 1px solid #111111;
 padding: 2px;}
 
#logo-area img {
 padding: 0;
 border: none;
}

.node-article img {
 float: left;
 margin: 0 10px 0 0;
}

#footer {
 margin-top: 30px;
 border-top: 1px solid #333333;
 padding-top: 10px;
}

#footer p {
 font-size: 75%;
}

strong {
 color: #9E1111;
}

a:link, a:visited {
 color: #CCCCAA;
 font-weight: normal;
 text-decoration: none;
}

a:hover, a:focus, a:active {
 color: #666666;
}

li a.active {
 color: #666666;
}

ul {
 list-style-type: none;
 margin-left: 0;
 padding: 0;
}

li {
 margin: 0;
 padding: 0;
}

.item-list ul li {
 margin: 0 1em 1em 0;
}

.more-link {
 float: left;
}

.more-link a:link,
.more-link a:visited {
 border-bottom: 1px dashed #CCCCAA;
}

.more-link a:hover,
.more-link a:focus {
 border-bottom: none;
}

#block-views-faq-faq-random,
#block-views-gear-grouping-terms-block,
#block-block-1 {
 margin-top: 70px;
}

 {
 margin-top: 70px;
}

#navigation {
 font-family: 'AngelinaRegular';
 font-size: 2em;
 text-transform: lowercase;
 padding: 50px 0 20px 0;
}

#navigation ul.links li a:link {
 background: transparent url(../images/button-default.png) no-repeat center right;
 color: #CCCCAA;
 font-weight: normal;
 padding: .5em 1.2em .5em 0;
 margin-right: 5px;
 text-decoration: none;
}

#navigation ul.links li a:hover,
#navigation ul.links li a:focus,
#navigation ul.links li a:active {
 background: transparent url(../images/button-active.png) no-repeat center right;
 color: #666666;
}

#navigation li a.active {
 color: #9E1111;
}

.sidebar-first .views-view-grid.cols-3 .views-field-title {
 background: black;
 color: white;
 left: 0;
 padding: 5px;
 position: relative;
 opacity: .7;
 top: -44px;
}

.view-sample-songs-view td.views-field {
 padding: 10px 40px 10px 0;
}

.sidebar-first .views-view-grid.cols-3 .col-2 {
padding: 0 20px;
}

.sidebar-first .views-view-grid.cols-3 .views-field-title a,
#views_slideshow_cycle_main_home_banner-page .views-field-title a {
color: white;
display: block;
}

.sidebar-first .views-view-grid.cols-3 .views-field-title:hover,
.sidebar-first .views-view-grid.cols-3 .views-field-title:active,
.sidebar-first .views-view-grid.cols-3 .views-field-title:focus {
color: #ef2b51;
opacity: 1;
}

div.views-slideshow-cycle-main-frame-row-item span.field-content {
 font-size: 75%;
 color: #999999;
 float: right;
}

#footer a:link,
#footer a:visited {
 color: white;
}

div.faq a:link,
div.faq a:visited {
 color: #333333;
}

div.view-sample-songs-view a:link,
div.view-sample-songs-view a:visited {
 color: #333333;
 border-bottom: 1px dashed #333333;
}

div.view-sample-songs-view a:hover,
div.view-sample-songs-view a:focus,
div.view-sample-songs-view a:active {
 color: #666666;
 border-bottom: none;
}

div.field-name-field-gear-category .field-items a:link,
div.field-name-field-gear-category .field-items a:visited {
 color: #333333;
 border-bottom: 1px dashed #333333;
}